/* Structure
-----------------------------------------------------------------------------*/
.container {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

.smallContainer {
	margin-left: auto;
	margin-right: auto;
	width: 438px;
}

.mediumContainer {
	margin-left: auto;
	margin-right: auto;
	width: 220px;
}

/* Style
-----------------------------------------------------------------------------*/
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 20px 0px 10px;
	text-align: center;
}

.required {
	font-weight: bold;
	color: red;
}

.large {
	font-size: 1.5em;
}

.pink {
	color: #cf0060;
}

/* Forms
-----------------------------------------------------------------------------*/
fieldset {
	border: 1px solid #54616E;
	background-color: #F2F2F2;
	padding: 1em;
	margin-bottom: 1em;
	font-size: 1.5em;
}

legend {
	border: 1px solid #999999;
	background-color: #D6D6D6;
	margin-left: 1em;
	padding: 0.3em;
	font-weight: bold;
}

input, select {
	margin-bottom: 1.5em;
	font-size: 1.2em;
}

.label {
	clear: left;
	float: left;
	color: #cf0060;
	text-align: left;
	margin: 2px;
	padding: 1px;
	width: 100px;
}

@sprite .button {
	gwt-image: 'button';
	text-align: center;
	color: white;
	width: 94px;
	height: 22px;
	font-size: 0.9em;
	margin: 0;
	padding: 0;
	border: none;
	float: right;
}

@sprite .longbutton {
	gwt-image: 'longbutton';
	font-size: 0.9em;
	text-align: center;
	color: white;
	width:137px;
	height:32px;
	border: none;
	float: right;
	margin-top: 1em;
}

