<phpunit bootstrap="./application/bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="cocktailberater.de">
			<directory>./</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">../application/</directory>
			<exclude>
				<file>../application/MyBootstrap.php</file>
				<file>../application/modules/default/controllers/ErrorController.php</file>
				<directory suffix=".phtml">../application/</directory>
				<directory suffix=".php">../application/modules/test</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>