<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
	<servlet>
		<servlet-name>cocktailberater</servlet-name>
		<servlet-class>org.cocktailberater.de.shared.server.BarServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>cocktailberater</servlet-name>
		<url-pattern>/order/cocktailberater</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>cocktailberater</servlet-name>
		<url-pattern>/kitchen/cocktailberater</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Shared.html</welcome-file>
	</welcome-file-list>

</web-app>
