@CHARSET "UTF-8";

#sub_nav, #pre-header, #suche_name, #photo_video, #tag_form, #header a h1, 
	#content hr, #switcha1, #switchb1 {
	display: none;
}

#header {
	width: 600px;
}

.print {
	display: block;
	width: 100%;
}

img, button {
	border: none;	
}

table, tr, td {
	border: 1px solid black;
}

.attribut {
	width: 100px;
	clear: left;
	font-weight: bold;
}

.left, .wert, .attribut, ul.nolist li {
	float: left;
}

#recipe_info {
	clear: left;
	margin-top: 40px;
}

.icon {
	width: 100px;
}

a {
	text-decoration: none;
	color: black;	
}
