@CHARSET "UTF-8";

* {
	font-family: Helvetica, serif;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
}

#wrapper {
	height: 690px;
	width: 1012px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	border-left: 10px solid black;
	background-color: white;
	background-image: url('/img/barclient/header.png');
	background-position: top right;
	background-repeat: no-repeat;
}

#head_info {
	position: absolute;
	right: 0.65em;	
	top: 0.65em;
	border: 2px solid #BBBBBB;
	background-color: white;
	padding: 0.2em;
	font-size: 0.9em;
}

#content {
	margin-top: 2em;
	margin-left: 1.5em;
	position: relative;
}

.right {
	float: right;
}

.left {
	float: left;
}

.clear {
	clear: both;
	display: block;	
}

.margin_top {
	margin-top: 10px !important;
}

.margin_right {
	margin-right: 10px !important;	
}

.margin_top_small {
	margin-top: 0.5em;
}

.margin_top_no {
	margin-top: 0;
}

.margin_bottom_small {
	margin-bottom: 0.5em;
}

.margin_bottom {
	margin-bottom: 1em;
}

.grey {
	color: #999999;
	font-family: 'cbfont';
}

.hide {
	display: none;	
}

h1 {
	font-size: 37px;
	padding-left: 7px;
	padding-top: 7px;
	color: white;
	margin: 0;
	font: 37px 'Teen light';
	background-color: black;
	width: 276px;
	height: 43px;
	font-family: 'cbfont';
}

h1 span {
	font-family: 'cbfont';
}

h2 {
	margin-top: 0;
	margin-bottom: 0;
}

ul.navigation {
	padding: 0;
	margin: 0;
}

ul.navigation li {
	border: 1px solid black;
	border-bottom: none;
	list-style-type: none;
	display: inline;
	clear: none;
	float: left;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	text-align: center;
	height: 1.2em;
}

ul.navigation li a {
	font-family: 'cbfont';
}

.navigation a {
	text-decoration: none;
	color: black;
}

#content a, #head_info a {
	text-decoration: underline;
	color: #0044CC;
}

ul.navigation li:hover,li:focus {
	border-color: #E10E80;
}

ul.navigation li:active,.active {
	background-color: #E10E80;
	border-color: #E10E80;
	border-top-width: 4px;
}

.active a {
	color: white;
}

.pink {
	color: #E10E80;
	font-family: 'cbfont';
}

.center {
	text-align: center;	
}

.smaller {
	font-size: 0.8em;	
}

.block {
	position: relative;
	width: 280px;
	height: 565px;
	background-image: url('/img/barclient/block.png');
	margin-left: 20px;
	margin-top: -18px;
	position: absolute;
	clear: both;
	top: 10px;
	padding-left: 8px;
	padding-right: 12px;
	padding-bottom: 10px;
	padding-top: 35px;
	background-repeat: no-repeat;
}

.calendar {
	height: 335px;
	background-image: url('/img/barclient/calendar_block.png');
}

.party_detail {
	position:absolute;
	height: 144px;
	width: 274px;
	background-image: url('/img/barclient/detail_party_add.png');
	top: 380px;
	left: 24px;
	padding-top: 40px;
	padding-left: 10px;
	padding-right: 10px;
}

.guests {
	padding-top: 30px;
	padding-left: 1em;
	padding-right: 1em;
	height: 539px;
	width: 548px;
	background-image: url('/img/barclient/guest_block.png');
	position: absolute;
	top: -8px;
	left: 390px;
}

.guests ul {
	width: 49%;
	padding: 0;
	list-style-type: none;
}

.guests div.left {
	width: 30%;
	padding: 0;
}

.guests div.right {
	width: 47%;
	padding: 0;
	margin-right: 10px;
}

.guests ul li {
	padding-left: 0.5em;
	padding-top: 0.2em;
	padding-right: 0.2em;
	background: #fff url('/img/barclient/seperator.png') bottom;
	background-repeat: no-repeat;
	padding-bottom: 0.3em;
	margin-top: -0.1em;
}

.guests ul li:hover, .guests ul li.active {
	background: url('/img/barclient/seperator.png') bottom no-repeat, -moz-linear-gradient(left, #FFFFFF, #DDDDDD, #FFFFFF);
	background: url('/img/barclient/seperator.png') bottom no-repeat, -webkit-gradient(linear, left center, right center, from(#FAFAFA), color-stop(15%, #DDDDDD), color-stop(70%, #DDDDDD), to(#FAFAFA)); 
}

.guests hr {
	margin-left: -0.5em;	
}

hr {
	background: #fff url('/img/barclient/seperator.png') bottom;
	background-repeat: no-repeat;
	border: none;
	width: 281px;
	height: 3px;
	margin-left: 0;
	clear: both;
	padding-top: 0.45em;
	margin-bottom: 0.45em;
}

hr.long {
	background: #fff url('/img/barclient/seperator_long.png') bottom;
	background-repeat: no-repeat;
	width: 561px;
	margin-left: -0.5em;
	margin-top: 0;
}

hr.light {
	padding-top: 0;
	margin-bottom: 0.2em;
	margin-top: 0.2em;
}

.block ul {
	padding-bottom: 0;
	padding-right: 0;
	padding-top: 0em;
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

.block li {
	
}

.block li:hover, .block li.active, .guests li:hover, .guests li.active {
	background-color: #DDDDDD;	
}

.block li>img {
	margin-right: 0.3em;
	width: 50px;
	float: left;
}

.block li div {
	float: left;
	width: 225px;
}

.title {
	font-size: 1.2em;
}

.subline {
	font-size: 0.8em;
}

.bestellungen {
	width: 579px;
	height: 586px;
	background-image: url('/img/barclient/detail_bestellungen.png');
	margin-top: -9px;
	margin-left: 335px;
	padding-left: 45px;
	padding-top: 10px;
	padding-right: 10px;
}

.bestellungen ul {
	margin-top: 0.2em;
}

div#order_form {
	position: absolute;
	top: -10px;
	left: 15px;
	background-color: white;
	opacity: 0.95;
	width: 97%;
	height: 105%;
}

div#order_form2 {
	position: absolute;
	top: -10px;
	left: 400px;
	padding: 0.5em;
	border: 2px solid #DDDDDD;
	background: -moz-linear-gradient(0 0, #FFFFFF, #E6E6E6);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#E6E6E6));
    width: 200px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

#order_form2 label {
	height: 1.8em;
	display: block;
	clear: left;	
}

.logout {
	margin-top: 200px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #DDDDDD;
	text-align: center;
	padding: 1.5em;	
}

.welcome {
	margin-top: 50px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #DDDDDD;
	padding: 1.5em;
}

.login, .password , .register {
	position: relative;
	margin-top: 50px;
	width: 310px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #DDDDDD;
	padding: 1.5em;
}

.login ul {
	padding-left: 0;
	list-style-type: none;
	line-height: 1.4em;	
}

.login label, .password label, .register label, .party_detail label, .guests label {
	margin-top: 0.8em;
	display: block;
}

.party_detail label.name {
	height: 2.5em;
}

.party_detail label.name span {
	margin-top: 0.2em;
}

.party_detail label.date {
	height: 2em;
}

div.divider {
	background-image: url('/img/barclient/detail_party.png');	
	width: 32px;
	height: 562px;
	margin-left: 340px;
}

.login input[type=email], .login input[type=password], 
	.password input[type=email], .register input[type=email], 
	.register input[type=password], .register input[type=text] {
	margin-top: 0.2em;
	display: block;
	width: 98%;
}

.login input[type=submit], .password input[type=submit], .register input[type=submit] {
	margin-top: 1em;
}

.login a.button, .password a.button, .register a.button {
	display: inline-block;
	margin-top: 0.9em;
}

.cash {
	width: 310px;
	height: 597px;
	background-image: url('/img/barclient/detail_cash.png');
	margin-top: -9px;
	margin-left: 359px;
	padding-left: 45px;
	padding-top: 10px;
	padding-right: 19px;
}

.menu_1 {
	width: 900px;
	height: 246px;
	background-image: url('/img/barclient/detail_menu_1.png');
	margin-top: 3px;
	margin-left: 8px;
	padding-left: 45px;
	padding-top: 10px;
	padding-right: 19px;
}

.menu_1_pre {
	margin-top: 223px;
	margin-left: 40px;
	font-family: 'cbfont';	
}

.menu_1 ul.no-bullet,.menu_2 ul.no-bullet {
	list-style-type: none;
	padding-left: 0;
	margin-top: 0.25em;	
}

.menu_1 ul.pages {
	margin-top: 0.25em;
	margin-bottom: 0.5em;	
}

.menu_1 ul.pages li:hover {
	background-color: #DDDDDD;	
}

.menu_2 {
	width: 910px;
	height: 561px;
	background-image: url('/img/barclient/detail_menu_2.png');
	margin-top: 3px;
	margin-left: 8px;
	padding-left: 45px;
	padding-top: 10px;
	padding-right: 19px;
}

.menu_settings {
	border-right: 1px dashed #CCCCCC;
	width: 110px;
	float: left;
	margin-right: 1em;
	padding-right: 1em;
	height: 350px;
	text-align: center;
	padding-top: 200px;
}

.menu_recipe {
	width: 290px;
	float: left;
	margin-right: 2em;
}

.menu_recipe ul {
	padding: 0;	
	border: 2px solid #CCCCCC;
	overflow-y: scroll;
	height: 478px;
}

.menu_recipe ul li {
	padding: 0.2em;
	list-style-type: none;
	border-top: 1px dashed #CCCCCC;
	cursor: pointer;
	clear: left;
}

.menu_recipe ul li:hover {
	background-color: #DDDDDD;
}

.menu_page {
	border-right: 1px dashed #CCCCCC;
	width: 290px;
	float: left;
	margin-right: 1em;
	padding-right: 1em;
	height: 550px;
}

.menu_page_header {
	background-color: black;
	height: 55px;
	color: white;
	padding-top: 20px;
	text-align: center;
	font-size: 25pt;	
}

.menu_page_header:FIRST-LETTER {
	color: #E10E80;
}

.menu_page_container {
	border: 2px solid #CCCCCC;
	height: 522px;
	margin-top: 0.5em;
}

.menu_page_content {
	padding: 0.2em;	
}

.menu_page_content ul {
	padding: 0;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-left: 0.2em;
	margin-right: 0.2em;
	list-style-type: none;
}

.menu_page_content ul li {
	margin-bottom: 0.5em;
	cursor: pointer;
	clear: left;
}

.menu_page_content ul li div {
	padding: 1em;
	border: 2px dashed #CCCCCC;
	border-radius: 15px;
	-moz-border-radius: 15px;
	text-align: center;
}

.menu_print {
	width: 120px;
	float: left;
	height: 350px;
	text-align: center;
	padding-top: 200px;
}

.inventar {
	position: absolute;
	top:20px;
	left: 3px;
	width: 924px;
	height: 566px;
	background-image: url('/img/barclient/detail_inventar.png');
	padding-left: 40px;
	padding-top: 10px;
	padding-right: 10px;
	
}

.statistics {
	position: absolute;
	top:20px;
	left: 3px;
	width: 924px;
	height: 566px;
	background-image: url('/img/barclient/detail_statistik.png');
	padding-left: 40px;
	padding-top: 10px;
	padding-right: 10px;
}

.inventar > ul {
	-webkit-column-count: 3;
	-moz-column-count: 3;
}

.inventar ul {
	padding:0;
}

.inventar ul li {
	line-height: 1.5em;
	list-style-type: none;
}

.block_info,.switch_party,.block_info_guests {
	position: absolute;
	bottom: 5px;
	right: 12px;
	left: 10px;
	font-size: 0.8em;
	text-align: center;
}

.block_info_guests {
	bottom: 32px;
}

hr.bottom_divider {
	position: absolute;
	bottom: 25px;
	right: 12px;
	left: 10px;
}

.switch_party {
	bottom: 0;
	text-align: left;
}

.switch_party select {
	float: right;
	position: relative;
	margin-right: 10px;
}

#content a.button, #content a.button:visited, #content a.button:link {
	color: white;
	text-decoration: none;
	font-size: 0.75em;
	padding: 0.25em;
}

input[type=button],input[type=submit],a.button {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	margin-left: 0;
	margin-right: 0;
}

input[type=button]:hover,input[type=submit]:hover,a.button:hover {
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

input[type=button]:active,input[type=submit]:active,a.button:active {
	position: relative;
	top: 1px;
	left: 1px;
}

input.pink,a.pink {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(208,
		83, 152) ), color-stop(0.21, rgb(208, 31, 131) ),
		color-stop(0.81, rgb(219, 48, 145) ), color-stop(1, rgb(225, 58, 150)
		) );
	background: -moz-linear-gradient(center bottom, rgb(208, 83, 152) 0%,
		rgb(208, 31, 131) 21%, rgb(219, 48, 145) 81%, rgb(225, 58, 150) 100% )
		;
	color: #FFFFFF;
}

input.pink:hover,a.pink:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(208,
		83, 152) ), color-stop(0.21, rgb(208, 31, 131) ),
		color-stop(0.81, rgb(219, 48, 145) ), color-stop(1, rgb(225, 58, 150)
		) );
	background: -moz-linear-gradient(center top, rgb(208, 83, 152) 0%,
		rgb(208, 31, 131) 21%, rgb(219, 48, 145) 81%, rgb(225, 58, 150) 100% )
		;
}

input.grey,a.grey {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(208,
		208, 208) ), color-stop(0.21, rgb(208, 208, 208) ),
		color-stop(0.81, rgb(219, 219, 219) ),
		color-stop(1, rgb(225, 225, 225) ) );
	background: -moz-linear-gradient(center top, rgb(208, 208, 208) 0%,
		rgb(208, 208, 208) 21%, rgb(219, 219, 219) 81%, rgb(225, 225, 225)
		100% );
	color: #444444;
}

input.grey:active,a.grey:active {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(208,
		208, 208) ), color-stop(0.21, rgb(208, 208, 208) ),
		color-stop(0.81, rgb(219, 219, 219) ),
		color-stop(1, rgb(225, 225, 225) ) );
	background: -moz-linear-gradient(center bottom, rgb(208, 208, 208) 0%,
		rgb(208, 208, 208) 21%, rgb(219, 219, 219) 81%, rgb(225, 225, 225)
		100% );
}

#content a.grey:link, #content a.grey:visited, #content a.grey:hover {
	color: #444444;	
}

.recipe_image {
	width: 150px;
}

img.glass, img.volume, img.alcohol {
	height: 50px;
	margin-top: 1em;
	margin-bottom: 0.2em;
}

.video_image {
	margin-left: 0.7em;
	vertical-align: sub;
}

.info {
	padding: 0.2em;
	margin: 0.2em;
	margin-top: 1em;
	margin-bottom: 1em;
	border: 1px solid #EFC100;
	background-color: #FFF388;
}

.comment {
	width: 390px;
}