#php_value display_startup_errors "1"
#php_value display_errors "1"

# not working on domainfactory servers
SetEnv APPLICATION_ENV development

# enable bootstrapping
RewriteEngine On

# needed for domainfactory server
#RewriteBase / 

# configure bootstrapping application
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d

# deny access to svn folders
RewriteRule ^(.*/)?\.svn/ - [F,L]
ErrorDocument 403 "Access Forbidden"

# bootstrap application
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
