<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>CocktailAppServer - Verwaltung</title>
<link href="{$uri}css/adminstyles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="page">
<div id="header">{include file='template/header.html'}</div>
<div id="navi">{include file='template/navi.html'}</div>
<div id="content">
<div id="main">{include file=$content}</div>
</div>
<div id="footer">{include file='template/footer.html'}</div>
</div>
</body>
</html>
